<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <connectionStrings>
    <add name="DBconnectionString"
         connectionString="Server=LAPTOP-ASPIRE5\SQLEXPRESS;
         Database=T4DDBMonitoring;
         Trusted_Connection=True;
         TrustServerCertificate=True;"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  
	<appSettings>

    <!-- Yes/No -->
		<add key="freezeScreen" value="No" />
    <add key="SendEmails" value="Yes" />
    <add key="AlarmVersion" value="Yes" />
    <add key="DeleteMissingValues" value="Yes" />
    <add key="SPN010alarmNotifications" value="No" />
    <add key="includeHistoricTwist" value="Yes" />
    <add key="includeHistoricSettlement" value="Yes" />
    <add key="includeHistoricTop" value="Yes" />
    <add key="LatestValueOnly" value="Yes" />
    <add key="JAGstatus" value="No" />

    <!-- Excel workbook settings -->
    <add key="ExcelPath" value="C:\_Working_drive\_SPN010_Alarms\" />
    <add key="ExcelFile" value="SPN010_Master_Alarms.xlsx" />
    
    <add key="ExcelFile1" value="SPN010_Master_20250717.xlsx" />
    
    
    <!-- Scheduler -->
    <add key="TimeBlockType" value="Schedule" /><!-- Manual, Schedule -->
    <add key="manualBlockStart" value="'2024-09-11 12:00'" />
    <add key="manualBlockEnd" value="'2024-09-11 16:00'" />
    <add key="BlockSizeHrs" value="6" /><!-- For reference data, BlockSizeHrs must be large, for rest: it must match the report time interval  -->
   

    <!-- Project settings -->
    <add key="ReportSpec" value="SPN010" />
    <add key="ProjectTitle" value="Rathmore" />
    <add key="ContractTitle" value="Iarnrod Eireann" />
    <add key="ReportType" value="Rathmore station UTX" />
    <add key="CoordinateOrder" value="ENH" />
    
		<!-- Folders -->
		<add key="SystemStatusFolder" value="C:\__SystemLogs\" />
    <add key="SystemAlarmFolder" value="C:\__SystemAlarms\" />

		<!-- Excel worksheets-->
		<add key="Referenceworksheet" value="RawData" /><!-- SPN010 -->
		<add key="Surveyworksheet" value="Known" /><!-- SPN010 -->
		<add key="Calibrationworksheet" value="Calibration check" />
    <add key="HistoricDhworksheet" value="Historic dH" />
    <add key="HistoricTopworksheet" value="Historic Top" />
    <add key="HistoricTwistworksheet" value="Historic Twist" />
    <add key="AlarmsWorksheet" value="Alarms" />
    
    
		<!-- Tracks -->
		<add key="worksheet1" value="Up" />
		<add key="worksheet2" value="Down" />
		<add key="worksheet3" value="blank" />
		<add key="worksheet4" value="blank" />
		<add key="worksheet5" value="blank" />
		<add key="worksheet6" value="blank" />
		<add key="worksheet7" value="blank" />
		<add key="worksheet8" value="blank" />
		<add key="worksheet9" value="blank" />
		<add key="worksheet10" value="blank" />

		<add key="FirstDataRow" value="2" /><!-- First row of data in the Reference fudgeTarget -->
		<add key="FirstDataCol" value="6" /><!-- Column which will contain the dE in the Reference fudgeTarget -->
		<add key="FirstOutputRow" value="7" /><!-- First row of data in the Calibration fudgeTargets -->
    <add key="FirstTrackRow" value="8" /><!-- First data row of the Track and alarm worksheets -->

    <!-- SPN010 alarm notification settings  -->


    <!-- SMS settings -->
    <add key="SMSTitle" value="Drogheda" />
    <add key="RecipientPhone1" value="+4917672997904" /><!-- JAGDE -->
    <add key="Phone2" value="++447729481504" /><!-- JAGUK -->
    <add key="Phone3" value="+353876509137" /><!-- Rob -->



    <!-- fudge targets Max 20 -->
    <add key="fudgeTarget1" value="A26" />
    <add key="fudgeTarget2" value="A27" />
    <add key="fudgeTarget3" value="blank" />
    <add key="fudgeTarget4" value="blank" />
    <add key="fudgeTarget5" value="A28" />
    <add key="fudgeTarget6" value="blank" />
    <add key="fudgeTarget7" value="blank" />
    <add key="fudgeTarget8" value="blank" />
    <add key="fudgeTarget9" value="blank" />
    <add key="fudgeTarget10" value="blank" />
    
   
    
    <!-- Email settings GNA-->
    <add key="EmailFrom" value="gna.geomatics@gmail.com" />
    <add key="EmailLogin" value="gna.geomatics@gmail.com" />
    <add key="EmailPassword" value="bvsshwnvgyyeknhb" />
    <add key="EmailRecipients" value="gna.geomatics@gmail.com" />
    <add key="AddAttachment" value="No" />


    <add key="EPPlus:ExcelPackage.LicenseContext" value="Commercial" />

	</appSettings>

</configuration>